﻿
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>CreateSocialMedia</h2>

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />
    <label>Link</label>
    <input type="text" class="table table-bordered" name="SocialMediaUrl" />
    <br />
    <button class="btn btn-info">Yeni Kategori Kaydet</button>
</form>

