﻿<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/Profil1.jpg);"></div>
            <h3>@ViewBag.van</h3>
        </div>
    </div>

    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/Index/"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="/About/DownloadFile/"><span class="fa fa-cloud-download" aria-hidden="true"></span> CV'mi indir</a>
        </li>
        <li>
            <a href="/Education/Index/"><span class="fa fa-graduation-cap" aria-hidden="true"></span> Eğitim Hayatım</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-list" aria-hidden="true"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-bar-chart" aria-hidden="true"></span> Projelerim</a>
        </li>
        <li>
            <a href="/About/Index/"><span class="fa fa-user-circle" aria-hidden="true"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-github-alt" aria-hidden="true"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index/"><span class="fa fa-share-square" aria-hidden="true"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-user-plus" aria-hidden="true"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-cog mr-3"></span> Ayarlar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkş Yap</a>
        </li>
    </ul>

</nav>