
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Kategori Girişi</h2>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="table table-bordered" name="CategoryName" />
    <br />
    <button class="btn btn-info">Yeni Kategori Kaydet</button>
</form>

