
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>CreateEducation</h2>

<form method="post">
    <label>İlk Okul Adı</label>
    <input type="text" class="table table-bordered" name="IlkOkul" />
    <br />
    <label>Lise Adı</label>
    <input type="text" class="table table-bordered" name="Lise" />
    <br />
    <label>Üniversite Adı</label>
    <input type="text" class="table table-bordered" name="Universite" />
    <br />
    <button class="btn btn-info">Yeni Eğitim Kaydet</button>
</form>

